NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth
AUTH_SECRET=your_auth_secret

# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

# Email Service
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=Server Manager <no-reply@tu-dominio.com>

# Seed Data
SEED_USER_PASSWORD=admin123